/* css style sheet for index.html */
* {
    /* border box to get all the box same size including padding */
    box-sizing: border-box;
    text-align: center;
  }

body{
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   background:#777;
   color:#777;
   font-size: 18px;
}
/* container styles */
#container{
    margin:auto;
    width:960px;
}

header{
    background:#ebebeb;
    padding:20px;
    margin-bottom:20px;
}
nav{
    background:#ebebeb;
    padding:20px;
    margin-bottom:20px;
}
/* left panel styles */
#main
{
    width:495px; 
    background-color: #ebebeb;
    padding:20px;
    /* left panel floats left */
    float:left;
    margin-bottom:20px;
    overflow:auto;
}
article{
    background: #777;
    margin-top:20px;
    padding:10px;
    color:white;
}
/* style for h1 and p tag */
h1,p{
    background-color:#ebebeb;
    color:#777;
    padding:10px;
}

aside{
    /* aside section floats right */
    float:right;
    width:450px;
    padding:20px;
    height:270px; 
    background-color: #ebebeb; 
    margin-bottom:20px;
}
footer{
    /* clear the float so that footer stays at its place */
    clear:both;
    padding:20px;
    background-color:#ebebeb;
   
}